<!DOCTYPE html>
<html lang="en">
  <head>
   <%- include('includes/head') %>
  </head>
  <body> 
    <%- include('includes/header',)%> 
    <%- include('includes/asideD')%>
    <main>
      <h1>Something went wrong!</h1>
      <p>
        Unforunately,Something went wrong on the server - 
        We're doing our best to fix it as quickly as possible!
      </p>
    </main>
  </body>
</html>